

body {
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
  }
.link{
    text-decoration: none;
}

.video{
    align-items: center;
}

.darklink{
    text-decoration: none;
    color: black;
}
.phone{
    width: 35vw;
}

.textalign{
    text-align:start;
}

.colborder:hover{
    border: 0px;
    box-shadow: 0 2px 6px 0 grey;
}